.h11{
	position:absolute;
	left:11%;
	height:100px;
	}

/* mark with differing style */
.mark {
    font-weight: 400;
}
/* nav */
.nav {
    list-style: none;
}
.nav li {
    float: left;
    position: relative;
    background: #3a3634;
	width:300px;
}
/* круглые края */
.nav > li:first-of-type {
    border-radius: 5px 0 0 5px;
}
.nav > li:last-of-type {
    border-radius: 0 5px 5px 0;
}
/* блоки ссылок */
.nav li a {
    display: block;
    text-decoration: none;
    color: #fff;
    padding: 12px;
    border-radius: 5px;
}
/* выпадающее меню */
.sub-nav {
    position: absolute;
    border-top: 15px solid transparent;
    left: -9999px;
    list-style:none;
    padding:0;
	z-index:auto;
}
/* make submenu reappear */
.nav li:hover .sub-nav {
    left: 0;
}
/* triangle */
.triangle {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #34495e;
    position: absolute;
    margin-top: 5px;
    left: -9999px;
}
/* reappear */
.nav li:hover .triangle {
    left: 15px;
}
/* prevent multi line links */
.sub-nav li {
    white-space: nowrap;
}
/* закругленные края */
.sub-nav > li:first-of-type {
    border-radius: 5px 5px 0 0;
}
.sub-nav > li:last-of-type {
    border-radius: 0 0 5px 5px;
}
/* верхний уровень при наведении */
.nav > li:hover > a {
    background: #E74C3C;
    transition: background ease .5s;
}
/* ссылки подменю */
.sub-nav a {
    font-size: 90%;
    margin: 3px;
    transition: background ease .3s;
}
.sub-nav a:hover {
    background: #E74C3C;
}
body{
	/*background-image:url(../fon3.jpg);*/
	font: 11px Verdana;
	color: #696969;
	margin:0;
}


.fon{
	position:absolute;
	top:0;
	left:0;
	height: 275%;
	width:101.5%;
	display:flex;
    flex-direction:column;
	align-items:stretch;
	justify-content: flex-start;
}


.cont1{
	position: absolute;
	height: 93%;
	width:45%;
	top:2%;
	right:2%;
	background-color:#ffffff;
	border-radius: 7px 7px 7px 7px;
	
}

.text11{
	position: absolute;
	height: 60%;
	width:20%;
	color: #ffffff;
	font: 130%  helvetica;
    font-weight:500;
	left:40%;
	top:58%;
	opacity:1;
	}
/*.cont2{
	position: relative;
	height: 350px;
	width:590px;
	bottom:30%;
	right:110%;
	background-color:#ffffff;
	border-radius: 7px 7px 7px 7px;
	
}*/
.logo{
position: absolute;
	top:10%;
	left:26%;	
	width:10%;	
	height:17%;
}

.logo2{
position: absolute;
	top:19%;
	right:24%;
	width:10%;	
	height:17%;	
}

.textm{
	margin: 10% 10% 10% 10%;
}

.header1{
	height: 110px;
	position: relative;
}




.flex{
	position: absolute;
	top:47%;
	left:10%;
	width: 25%;
	height:290%;
	display:flex;
    flex-direction:column;
	align-items:stretch;
	justify-content: flex-start;
}


.flex2{
	position: absolute;
	top:47%;
	left:10%;
	width: 25%;
	height:290%;
	display:flex;
    flex-direction:column;
	align-items:stretch;
	justify-content: flex-start;
}
.ph2{
	
	position: absolute;
	height: 48%;
	width:24%;
	top:115%;
	right:37.5%;
	
	}
	

.ph3{
	
	position: absolute;
	height: 48%;
	width:24%;
	top:51%;
	right:11.0%;
	
	}
.ph4{
	
	/*position: absolute;
	height: 48%;*/
	width:100%;
	top:51%;
	left:10.5%;
}
	
.ph5{
	
	/*position: absolute;
	height: 48%;*/
	width:100%;
	top:104%;
	right:38%;
	
	}
	

.ph6{
	
	position: absolute;
	height: 48%;
	width:24%;
	top:104%;
	right:11%;
	
	}
.ph7{
	
	/*position: absolute;
	height: 48%;*/
	width:100%;
	top:104%;
	left:10.5%;
	
	}
.ph8{
	
	position: absolute;
	height: 48%;
	width:24%;
	top:157%;
	right:11.0%;
	
	}
.ph9{
	
	/*position: absolute;
	height: 48%;*/
	width:100%;
	top:157%;
	left:10.5%;
}
	
.ph10{
	
	position: absolute;
	height: 48%;
	width:24%;
	top:157%;
	right:38%;
	
	}
	

.ph11{
	
	position: absolute;
	height: 48%;
	width:24%;
	top:210%;
	right:11%;
	
	}
.ph12{
	
	/*position: absolute;
	height: 48%;*/
	width:100%;
	top:210%;
	left:10.5%;
	}
	
.ph13{
	
	position: absolute;
	height: 48%;
	width:24%;
	top:210%;
	right:38%;
	/*
.carousel {
  position: relative;
  width: 510px;
  height:350px;
  padding: 2px 40px;
  border: 1px solid ##ffffff;
  border-radius: 10px;
  background: #ffffff;
  bottom: -216px;
  left:3.5%
}

.carousel img {
  width: 300px;
  height: 300px;
  /* по умолчанию inline, в ряде браузеров это даст лишнее пространство вокруг элементов 

  display: inline;
}*/
/*
.arrow {
  position: absolute;
  top: 100px;
  padding: 0;
  height:180px;
  width: 25px;
  background: #ffffff;
  border-radius: 5px;
  border: 1px solid #edccca;
  font-size: 24px;
  line-height: 24px;
  color: #444;
  display: block;
}

.arrow:focus {
  outline: none;
}

.arrow:hover {
  background: #edccca;
  cursor: pointer;
}

.prev {
  left: 7px;
}

.next {
  right: 7px;
}

.gallery {
  width: 500px;
  overflow: hidden;
}

.gallery ul {
  height: 300;
  width: 9999px;
  margin-right: 0;
  padding: 0;
  list-style: none;
  transition: margin-left 250ms;
  /* remove white-space between inline-block'ed li */
  /* http://davidwalsh.name/remove-whitespace-inline-block 

  font-size: 0;
}

.gallery li {
  display: inline-block;
}




body {
    margin: 0;
    padding: 0;
}

#block-for-slider {
	position:absolute;
	right:14.5%;
	top: 34%;
    width: 70%;
	height:200px;
    margin: 0 auto;
    margin-top: 10px;
	background:#ffffff;
		
}

#viewport {
    width: 100%;
    position: relative;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    text-align: center;
}

#slidewrapper {
    position: relative;
    width: calc(100% * 4);

    -webkit-transition: 5s;
    -o-transition: 2s;
    transition: 2s;
    -webkit-transition-timing-function: cubic-bezier(.67,.01,.23,1);
    -o-transition-timing-function: cubic-bezier(.67,.01,.23,1);
    transition-timing-function: cubic-bezier(.67,.01,.23,1);
}

#slidewrapper, #slidewrapper ul, #slidewrapper li {
    margin: 0;
    padding: 0;
}

.slide {
    width: calc(100%/4);
    list-style: none;
    display: inline;
    float: left;
	
}

.slide-img {
    width: 100%;
}

#prev-btn, #next-btn {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 50%;
    top: calc(50% - 25px);
}

#prev-btn:hover, #next-btn:hover {
    cursor: pointer;
}

#prev-btn {
    left: 20px;
}

#next-btn {
    right: 20px;
}

#nav-btns {
    position: absolute;
    width: 100%;
    bottom: 20px;
    padding: 0;
    margin: 0;
    text-align: center;
}

.slide-nav-btn {
    position: relative;
    display: inline-block;
    list-style: none;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 50%;
    margin: 3px;
}

.slide-nav-btn:hover {
    cursor: pointer;
}





.logo{
position: absolute;
	top:10%;
	left:25%;	
}

.logo2{
position: absolute;
	top:19%;
	left:65%;	
}
.cabinet{
	background-image: url(../header1.png);
	height: 110px;
	width: 100%;
	position: absolute;
	top:0%;
	left:0%;
	
}
	Позиция относительно дувух картинок opacity: 0.5;
*/

.card{
	position: absolute;
	top:10%;
	left:50%;
}	
.week{
	position: relative;
	top:30px;
	left:2px;
}
.date{
	position: absolute;
	top:45px;
	left:150px;
}
.work{
	position: absolute;
	top:20px;
	left:30px;
}
.button{
	position: absolute;
	top:15%;
	left:2%;
}
.call{
	position: absolute;
	top:10%;
	right:1%;
} /*сделать формы*/
.vk{
	position: absolute;
	top:52%;
	right:14%;
}	
.fb{
	position: absolute;
	top:52%;
	right:10%;
}

.ok{
	position: absolute;
	top:52%;
	right:6%;
}
.ins{
	position: absolute;
	top:52%;
	right:2%;
}

.header3{
	background-color: #CC0F4E;
	height:60px;
  	position: relative;
}  


.katalog{
	position: absolute;
	top:0%;
	left:0%;
}

.menu{
	position: absolute;
	top:0%;
	right:0%;
	
}
.search{
	cursor: pointer;
    width: 43px;
    height: 41px;
    position: absolute;
    top: 32%;
    right: 41%;
	height:30px;
	width:30px;
    border: none;
    background: url(../41.jpg) center no-repeat;
}
.searchinput{
    position: absolute;
	top:32%;
	right:40%;
	z-index: 4;
    padding: 0 50px 0 15px;
    background-color: white;
    border: 1px solid #d7d7d7;
    border-radius: 9px 10px 10px 9px;
	height:30px;
	width:200px;
	
}


.content{
	background-color: #e1d9ce;
	
  }
.new{
	position: absolute;
	top:1%;
	left:1%;
}
.photo1{
	
	position: absolute;
	height: 70%;
	width:25%;
	top:5%;
	left:7%;
	}
	
.text11{
	padding: 10% 10% 10% 10%;
	}
	
.photo2{
	
	position: absolute;
	height: 100%;
	width:46%;
	top:10%;
	right:28%;
	
	}
	
.photo3{
	
	position: absolute;
	height: 72%;
	width:30%;
	bottom:5%;
	right:5%;
	}
.mbutton{
	width: 250px;
	height:120px;
	border:5px solid #ffffff;
	text-align:center;
	padding:10px;
	position:absolute;
	bottom:50px;
	right:50px;
	cursor:pointer;
	color:#333;
	border-radius:5px;
	top:2%;
	right:40%;
	background-color:#ffe2d5;
}

.mbutton:active {
    background-color:#fffb90;
}
.b{
	width: 170px;
	height:100px;
}

.txt1{
	font-family:Helvetica;
	font-size:14px;
	width: 400px;
	height:150px;
	color:#3a3634;
	position:absolute;
	bottom:5%;
	left:5%;
}
.txt2{
	font-family:Helvetica;
	font-size:14px;
	width: 400px;
	height:150px;
	color:#3a3634;
	position:absolute;
	top:0;
	right:5%;
}
/*.lheader{
	background-color: #dde1e0;
	position: absolute;
	height: 12%;
	width:50%;
	top:0%;
	left:25%;
	box-shadow: #484542 -11px 0 0 12px;
	 opacity:0.8;				  
    
	}*/
	
.car{
	position: absolute;
	top:350px;
	left:35px;
	max-width:250px;
}


	
.chair1{
	position: absolute;
	top:350px;
	left:345px;
	max-width:250px;
}	
	
.seat{
	position: absolute;
	top:350px;
	left:651px;
	max-width:250px;
}	

.photo4{
	position: absolute;
	top:80px;
	left:927px;
	}	
.chair{
	position: absolute;
	top:350px;
	left:957px;
	max-width:250px;
}	

.photo5{
	position: absolute;
	top:441px;
	left:10px;
	}
	
.stroller{
	position: absolute;
	top:711px;
	left:35px;
	max-width:250px;
}

.photo6{
	position: absolute;
	top:441px;
	left:315px;
	}	
.stroller2{
	position: absolute;
	top:711px;
	left:345px;
	max-width:250px;
}	

.photo7{
	position: absolute;
	top:441px;
	left:621px;
	}	
.stroller3{
	position: absolute;
	top:711px;
	left:651px;
	max-width:250px;
}	

.photo8{
	position: absolute;
	top:441px;
	left:927px;
	}	
.swaddling{
	position: absolute;
	top:711px;
	left:957px;
	max-width:250px;
}	

.photo9{
	position: absolute;
	top:802px;
	left:10px;
	}
	
.stroller4{
	position: absolute;
	top:1071px;
	left:35px;
	max-width:250px;
}

.photo10{
	position: absolute;
	top:802px;
	left:315px;
	}	
.table{
	position: absolute;
	top:1071px;
	left:345px;
	max-width:250px;
}	
.new1 {
    background-image: url(../2.png);
	height: 26px;
	width:54;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-clip: border-box;
    background-origin: padding-box;
    background-size: auto auto;
	position: relative;
	top:90px;
	left:10px;
	line-height: 26px;
    font-size: 20px;
	color: #ffffff;
	}

.basket{
	position:fixed;
	height:52px;
	width:57px;
	top:230px;
	right:0;
}
.like{
	position:fixed;
	height:52px;
	width:57px;
	top:290px;
	right:0;
}
.catalog{
	position:fixed;
	height:52px;
	width:57px;
	top:350px;
	right:0;
}

.stock{
	height:460px;
	width:1230px;
	border: 2px solid #00008B;
	border-radius: 8px;
	position: absolute;
	top:1180px;
	right:0;
	}
.header{
	line-height: 80px;
	padding: 0 38px;
	color: #041ba2;
	font-size: 20px;
	font-weight: 700;
	text-transform: uppercase;
	border-bottom: 1px solid #dfdfdf;


}
.topbutton{
	width: 100px;
	border:2px solid #ccc;
	background:#f7f7f7;
	text-align:center;
	padding:10px;
	position:fixed;
	bottom:50px;
	right:50px;
	cursor:pointer;
	color:#333;
	font-family:verdana;
	font-size:12px;
	border-radius:5px;
}
.inf{
	width: 100px;
	height: 50px;
	position: absolute;
	right: 10px;
}
.phone{
	width: 100px;
	height:30px;
	display:flex;
    flex-direction:column;
	align-items:center;
	justify-content:flex-start;
	font-family:verdana;
	font-size:10px;
	
}
.phone1{
	margin-top:0;
	}
	
.phone2{
	margin-top:0;
	}

.net{
	width: 100px;
	display:flex;
	justify-content:space-around;
	align-items:stretch;
}
.text11{
    opacity: 0.5;
	}
	
.button1{
	margin-left:400px;
	width: 500px;
	height:30px;
	display:flex;
    flex-direction:row;
	align-items:center;
	justify-content:space-around;
	font-family:verdana;
	font-size:10px;
	/*background: #1e1e1e;
	box-shadow: inset #1e1e1e 0 0 40px 10px,
	                  #1e1e1e 0 0 24px 12px;
    padding: 10px;
	border-radius: 10px;*/
	text-shadow: 0px 0px 0px black, 0 0 1em black;
	font-family: garamond;
	font-style:normal;
	font-weight:bolder;
	font-size:120%;
	opacity: 0.8;
  
}
.botton2{
	margin-top:5%;
	color:#ffffff;
	}
.botton3{
	margin-top:5%;
	color:#ffffff;
	}
.botton4{
	margin-top:5%;
	color:#ffffff;
	}
.botton5{
	margin-top:5%;
	color:#ffffff;
	}