.slider{
	--color-1: #19365f;
	margin: 25px;
	position: relative;
	overflow:hidden;
}

.slider__arrow{
	position: absolute;
	top:50%;
	margin:-10px;
	z-index: 1;
	outline:none;
}

.slider__arrow::before{
	content: '';
    display:inline-block;
	height:20px;
	width:20px;
	border: solid var(--color-1);
	border-width: 2px 2px 0 0;
}

.slider__arrow_left{
	left:50px;
	transform: rotate(-135deg);
}

.slider__arrow_right{
	right:50px;
	transform: rotate(45deg);
}

.slider__slide{
	display:none;
	max-width:100%
}

.slider__slide_active{
	display:block;
}