#about{
    background-color: #fff8e8;
    page-break-after: auto;
    padding: 5%;
    .article{
        background-color: #ffffff
    }
    .Prosto{
        color: #2e2c2b;
        font-size: 50px;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        text-align: center;
        padding: 20px;
        .markerYellow{
            color: #ffdb8e;
        }
    }
    .article-image.is {
    padding-top: 120%;
    }
    .nested-column {
        flex: 2;
        padding: 20px;
        background-color: #ffffff;
    }
}
