$font-stack: Arial, Geneva, Helvetica, sans-serif;

@font-face{
  font-family: 'bahnschrift';
  src: url('../Fonts/bahnschrift.ttf');
  font-weight: normal;
  font-style: normal;
   }
html {
  font-size: 14px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  min-width: 300px;
  overflow-x: hidden;
  overflow-y: scroll;
  text-rendering: optimizeLegibility;
  font: $font-stack;
  body {
    font:1rem $font-stack ;
    line-height: 1.4;
    background-color:#ffffff;
    padding: 0;
    margin: 0;
    height: 100%;
	}
}

