.navigation {
display: flex;
padding:100px 20% 100px 31%;

    .icons{
    display: flex;
    flex-direction: column;
    text-align: center;
    }
        .grapfic:hover,.computerGrapfic:hover,.watercolor:hover{
        margin: 20px;
	    height: 120px;
        background-color: #ffcda9;
        border-radius: 15px;
        box-shadow: 0 0 10px #ffcda9, 0 0 20px #fff6f0;
        }
        .grapfic,.computerGrapfic,.watercolor{
        margin: 30px;
        height: 100px; 
        background-color: #ffffff;
        border-radius: 15px;
        box-shadow: 0 0 10px #ffcda9, 0 0 20px #fff6f0;
        }
}
.content{
background-color: #fff6f0;
text-align: center;
padding: 80px 0 50px 0;
margin: 0px;
box-shadow: 0 0 30px #ffcda9, 0 0 20px #ffcda9;
    .container { 
    background-color: #ffffff;
    width: 100%; 
    max-width: 960px; 
    margin: 0 auto; 
        h1{
        color:#2e2c2b; 
        font-size: 50px; 
        font-family:TuesdayNight-Regular;
        padding-top: 100px;
        text-align: center;
        padding: 50px;
        }
        #gallery{
        background-color: #ffffff;
        height: 100%;
            .photo {
            background-color: #ffffff;
            float: left; 
            width: 33.333333%;
            padding: 10px;
            box-sizing: border-box;
            }
            .photo img {
            display: block;
            max-width: 100%;
            height: auto;
            }
            .photo a:hover {
            opacity: 0.5;
            }
            .photo a {
            display: block;
            position: relative;
            }
            .photo a:after {
            content: '';
           // background: transparent url(../img/icons/eye-icon.png) no-repeat center;
            width: 52px;
            height: 35px;
            position: absolute;
            margin: auto;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            visibility: hidden;
            }
        }
    }
}	
  @media screen and (min-width: 800px) {
    .navigation .icons {
    flex-direction: row;
    }
}