
.preview{
display: flex;
flex-direction: column;

padding: 20px 0 0 0;
}    
    .info{
    float: left;
    width: 100%;
    background: #ffe0cf;    
    box-shadow: 0 0 30px #2e2c2b;
    }
    
    .info:hover,
    .info:focus {
   
    box-shadow: 0 0 30px #fff4b5 , 0 0 20px #fff4b5;
    }    
        .about{
         margin: 0;
        }
            .triangle{
            width:100%;
        

                .table{
                text-align: center;
                width:100%;
              
                }   
                ul#table {
                    padding:0;
                    margin: 0 0 0 19%;
                }
                ul#table li{
                display: inline;
                list-style: none;
               
                vertical-align: top;
            
               
                }
                ul#table li > div {
                display: inline;
                vertical-align: top;
        
                }
                    a{
                    color: #2e2c2b;
                        
                        .icon_livicon_shadowed{
                        width: 18%;
                        height: 18%;
                        float:left;
                        margin: 5%;
                        }
                    }
                
                .go{
                margin: 50px 10% 5% 10%;
                text-align: center;
                background-color:#ffe0cf;    
               
                }
                    button {
                    background: #ffe0cf;    
                    border: none;
                    font-size: 80px;
                    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
                    color: #fffbe2;
                    position: relative;
                    box-sizing: border-box;
                    transform-style: preserve-3d;  
                    transition: all 500ms ease; 
                    }
                    button:after {
	                top: -100%;
                    left: 0;
	                width: 100%;
	                position: absolute;
                    content: 'ПЕРЕЙТИ';

	                transform-origin: left bottom;
	                transform: rotateX(90deg);
                    }
                    button:hover {
	                transform-origin: center bottom;
	                transform: rotateX(-90deg) translateY(100%);
                    }
                }
    
       
        .line{
            margin: 0;
            width: 100vw;
        }
        .marker{
            color: #ffcda9;
        }
    .logo{
    text-align: center;
    
        .prostoportrait_eng{
        color:#181614; 
        font-size:80px; 
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        padding-top: 100px;
        text-align: center;  
        padding:18% 10% 0% 10%;
        }

        .prostoportrait_rus{
        font-size: 30px; 
        padding:5% 10% 18% 10%;
        color:#2e2c2b;
        font-family:Arial, Helvetica, sans-serif;
        text-align: center;
        }
    
    }

@media screen and (min-width: 500px) {

    .preview{
    display: flex;
    flex-direction: row;
        .info{
        width: 35%;
      	    .about {
            flex-direction: column;
            margin: 0;
    
               
                    .table{
                    width:80%;
                    padding: 40px;
                    }
                    .go{
                 
                   
                    text-align: center;
                    }
                }
            } 
        }
        .logo{
        width: 65%;
            .prostoportrait_eng{
            color:#2e2c2b; 
            font-size: 100px; 
            padding-top: 100px;
            text-align: center;
            }
        }
        .line{
            margin: 0;
            height: 60vh;
        }
    }
    
    html {
      height: 100%;
    
    }
    body {
      margin: 0;
      padding: 0;

  
    
    }
    .logo {
      box-sizing: border-box;
      min-height: 100vh;
      text-align: center;
      transform-style: inherit;
      width: 100vw;
    }
   
    

img.icon_livicon_shadowed:hover {
  animation: 5s linear 0s normal none infinite running rot;
  -webkit-animation: 5s linear 0s normal none infinite running rot;
  width: 22%;
}
@keyframes rot {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes rot {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}