.preview{
  display: flex;
  flex-direction: column;
  background-color:#efefef; 
  height: 85vh;
  .logo{
    text-align: center;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    .prostoportrait_eng{
      color: #181614;
      font-size: 52px;
      font-family: Arial, Geneva, Helvetica, sans-serif;
      text-transform: uppercase;
      font-weight: bold;
      text-align: left;
      line-height: 42px;

    }
    .prostoportrait_rus{
      font-size: 30px; 
      color:#ea856a;
      font-family:Arial, Helvetica, sans-serif;
    }
  } 

  .info{
    float: left;
    width: 100vw;
    z-index: 500;
    background: #ea856a;
    position: relative;   
  }
  .about{
    margin: 0;
  }
  .visPart {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 20%;
  }
  .mainPhoto{
    display: none;
    img{
      display: none;
    }
  }
  
  .logImage{
    margin: 0;
    width: 100%;
    height: auto;
  }
} 
.triangle{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;
  padding-bottom: 0px;
  text-transform: uppercase;
  font-size: 10px;
  .triangleLink{
    padding: 20px 0;
    margin: 0 20px;
    border-right: none;
    font-weight: bold;
    width: 20%;
    a{
      text-align: right;
    }
  }
 
  a{
    color: #2e2c2b;
  }
  .iconGallery{
    width: 35px;
    margin: 0 0 10% 0;
  }
  .iconGallery:hover {
    width: 40px;
    margin: 0 0 5% 0;
  }
}
.triangleBlock{	
  background: linear-gradient(170deg, rgba(234, 133, 106, 1) 0%, rgba(234, 133, 106, 1) 50%, rgba(234, 133, 106, 0) 50%, rgba(234, 133, 106, 1) 50%, rgba(234, 133, 106, 0) 50%);
  width: 100%;
  background-position: center;
  height: 20vh;
  background-size: contain;
}
.marker{
  color: #ea856a;
}
@media all and (min-width: 800px) {
  .preview{
    display: flex;
    flex-direction: row;
    height: 100vh;
    .visPart {
      height: auto;
    } 
    .info{
      width: 28%;
      height: 100vh;
      display: flex;
      justify-content: flex-end;
      .about {
        flex-direction: column;
        margin: 0;
        .table{
          width:80%;
          padding: 40px;
        }
        .go{
          text-align: center;
        }
      }
    } 
 
    .mainPhoto{
      display: block;
      z-index: 1000;
      right: 12%;
      position: absolute;
      background-color: #fdc075ea;
      padding: 0 40px 80px 40px;
      box-shadow: 10px 30px 3px -1px rgba(0,0,0,0.23);
      img{
        max-width: 400px;
        display: inline;
      }
    }
    .logo{
      width: 100%;
      height: auto;
      flex-direction: column;
      display: flex;
      align-items: center;
      justify-content: center;
    
      .prostoportrait_eng{
        font-size: 92px;
        line-height: 82px;
       }
    }

  }
  .triangle{
    flex-direction: column;
    align-items: flex-end;
    position: fixed;
    top: 20vh;
    right: 0px;
    text-align: right;
    padding-bottom: 120px;
    font-size: 10px;
    .triangleLink{
        padding: 25px 10px 20px 0;
        margin: 0 25px;
        border-right: 1px solid #3332328f;
        width: auto;
      a{
        text-align: right;
      }
    }
  }
  .logImage{
    margin-top: 20%;
    height: 50vh;
    width: auto;
  } 
  .triangleBlock{	
    background: linear-gradient(170deg, rgba(239,239,239,1) 0%, rgba(239,239,239,1) 50%, rgba(239,239,239,0) 50%, rgba(239,239,239,1) 50%, rgba(239,239,239,0) 50%);
    width: 90%;
    height: 135px;
  } 
} 

@keyframes rot {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes rot {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}