.header_news{
  background-color:#fcd768;
  box-shadow: inset 0px 15px 3px 0px rgba(0,0,0,0.2);  
  font-size: 30px;
  color: #181614;
  font-weight: bold;
  text-align: center;
  padding:70px 0 70px 0;
}
#news{
  background-color: #e3dfde;
  padding: 10px; 
  page-break-after: auto;
}
a {
  text-decoration: none;
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}
h2{
  color: black;
}
div, h2, p, figure {
  margin: 0;
  padding: 0;
}
header {
  color: #ffffff;
  padding: 40px 0  20px;
  text-align: center;
	font-size: 14px;
  font-weight: 400;
  line-height: 18px;

.h1 {
  font-size: 25px;
  font-weight: bold;
}
.h2 a {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  color: white;
  font-size: 20px;
	opacity: 0.5;
	text-align: center;
}
.h2 a:hover {
  border-bottom-color: white;
  opacity: 1;
}}
.column {
  flex: 1;
  flex-direction: column;
}
.article {
  background: white;
  box-shadow: 5px 5px 2px 0px rgba(0,0,0,0.2);  
  color: #666;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-basis: auto;
  margin: 30px 10px;
}
.article:hover,
.article:focus {
  box-shadow: 10px 10px 4px 0px rgba(0,0,0,0.13);  
  color: #444;
}
.article-image {
  background: #eee;
  display: block;
  position: relative;
  width: 100%;
}
.article-image{ 
  img {
    height: 100%;
    width: 100%;
  }
}

.article-body {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 20px;
}
.article-title {
  color: #333;
  flex-shrink: 0;
  font-size: 1.4em;
  padding-bottom: 20px;
  line-height: 1.2;
}
.article-content {
  flex: 1;
  margin-top: 5px;
}
.article-info {
  display: flex;
  font-size: 0.85em;
  justify-content: space-between;
  margin-top: 10px;
  color: #181614;
}

.main-article .article-body {
    flex: 1;
}
.article-body {
  flex: 1;
}

.main-column {
  flex: 3;
}

.main-column {
    flex: 3;
}

.first-article {
  flex-direction: column;
 
}
.first-article .article-body {
  flex: 1;
}
.first-article .article-image {
  order: 2;
  padding-top: 0;

}

@media screen and (min-width: 1000px) {

#news{
  padding: 40px 140px 40px 60px;
}
.article {
  margin: 10px;
}
.main-column {
  flex: 3;
}
.article-body{
	order: 3;
}

  .first-article {
    flex-direction: row;
  }
  .first-article .article-body {
    flex: 1;
  }
  .first-article .article-image {
    order: 2;
    padding-top: 0;
    width: 50%; 
    
    
  }
}
     
        
  

