
 .header_news{
  background-color:#2d525b;
  box-shadow: inset 0 10px 20px #363535;
  font-size: 30px;
  font-family:bahnschrift;
  color: #ffffff;
  text-align: center;
  padding:70px 0 70px 0;
}
#news{
	background-color: #fff8ea; 
  page-break-after: auto;
  padding: 5%;
}
a {
  text-decoration: none;
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}
h2{
  color: black;
}
div, h2, p, figure {
  margin: 0;
  padding: 0;
}
.Prostoportrait {
  color: #2e2c2b;
  padding-top: 100px;
  text-align: center;
  padding: 50px;}
 
  .prostoportrait_eng {
    font-family: TuesdayNight-Regular;
  }

header {
  color: #ffffff;
  padding: 40px 0  20px;
  text-align: center;
	font-size: 14px;
  font-weight: 400;
  line-height: 18px;

.h1 {
  font-size: 40px;
  font-weight: bold;
}
.h2 a {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  color: white;
  font-size: 20px;
	opacity: 0.5;
	text-align: center;
}
.h2 a:hover {
  border-bottom-color: white;
  opacity: 1;
}}
.column {
  flex: 1;
  flex-direction: column;
}
.article {
  background: white;
  box-shadow: 0 1px 3px #ffcda9, 0 1px 2px #ffcda9;
  color: #666;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-basis: auto;
  margin: 10px;
}
.article:hover,
.article:focus {
  box-shadow: 0 14px 28px #ffcda9, 0 10px 10px #ffcda9;
  color: #444;
}
.article-image {
  background: #eee;
  display: block;
  position: relative;
  width: 100%;
}
.article-image img {
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.article-image.is-3by2 {
  padding-top: 130%;
}
.article-image.is-16by9 {
  padding-top: 56.25%;
}
.article-image.in {
 height:500px ;
}
.article-body {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 20px;
}
.article-title {
  color: #333;
  flex-shrink: 0;
  font-size: 1.4em;
 
  line-height: 1.2;
}
.article-content {
  flex: 1;
  margin-top: 5px;
}
.article-info {
  display: flex;
  font-size: 0.85em;
  justify-content: space-between;
  margin-top: 10px;
}
.main-article  {
    flex-direction: row;
}
.main-article .article-body {
    flex: 1;
}
.main-article .main-image {
    height: 60%;
    order:2;
    padding-top: 0;
    width: 50%;
}
.main-column {
  flex: 3;
}
.main-article {
	flex-direction: column;
}
.main-image {
  background: #eee;
  display: block;
  padding-top: 75%;
  position: relative;
  width: 100%;
}
.main-column {
    flex: 3;
}
.nested-column {
    flex: 2;
}
#slides {
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.add{
  width: 15vw;
  text-align: center;
  color: #2e2c2b;
  
  padding: 10px;
  background-color: #ffcda9;
  border-radius: 20px;
}
.addNew{
  padding: 2% 0 0 5%;
  background-color: #fff8ea;
}
@media screen and (min-width: 500px) {
.main-article {
	  flex-direction: row;
}
.main-article  {
    flex-direction: row;
}
.main-article .article-body {
    flex: 1;
}
.main-article .main-image {
  height: 500px;
  order: 2;
  padding-top: 0;
  width: 50%;
}
.main-column {
  flex: 3;
}
.article-body{
	order: 3;
}
.first-article {
  flex-direction: row;
}
.first-article .article-body {
  flex: 1;
}
.first-article .article-image {
  order: 2;
  padding-top: 0;
  width: 500px; 
}
}       
        
  

