#slideshow #slidesContainer {
  margin:0 auto;
  height:100%;
  overflow:auto; 
  position:relative;
}
#slideshow #slidesContainer .slide {
  margin:0 auto;
  width:100%; 
  height:100%;
}
.articlenews{
  margin: 5%;
}
.art {
  background: white;
  box-shadow: 0 1px 3px #cabcb3, 0 1px 2px #e6d5ca;
  color: #666;
  display: flex;
  flex: 1;
  flex-basis: auto;
  margin: 10px;
}
.art:hover,
.art:focus {
  box-shadow:0 0 20px #ffcda9, 0 0 20px #fff6f0;
  color: #444;
}
.prostoportrait{   
  font-size: 25px;
  color: #0f0f0f;
}
.slider-article,.main-image{
  order: 2;
  padding-top: 0;
}
.slider-article .article-body {
  flex: 1;
}
.slider-article .main-image {
  order:2;
  padding-top: 0;
}
.slider-column {
  flex: 3;
}
.slider-article {
  flex-direction: column;
  flex: 1;
}
.main-image {
  background: #eee;
  display: block;
  position: relative;
  
}

@media screen and (min-width: 800px) {
  .columns,
  .column {
	  display: flex;
  }
  .slider-article .article-body {
    flex: 1;
  }
  .slider-article .main-image {
    order:1;
    padding-top: 0;
  }
  .slider-column {
    flex: 3;
  }
  .main-image {
    background: #eee;
    display: block;
    width: 535px;
  }
  .sliderText{
    padding-top: 30%;
    font-size: 30px;
    color: #423a36;
    text-align: center;
  }
  .slider-article {
    flex-direction: row;
  }
  .slider-article .article-body {
    flex: 1;
  }
}

