@font-face {
    font-family: Kontora; /* Гарнитура шрифта */
    src: url(Fonts/Kontora.otf); /* Путь к файлу со шрифтом */
   }
 
@font-face {
    font-family: WaverlyCF-Medium; /* Гарнитура шрифта */
    src: url(../../Fonts/WaverlyCF-Medium.otf); /* Путь к файлу со шрифтом */
   }
@font-face {
    font-family: Calcio; /* Гарнитура шрифта */
    src: url(../../Fonts/Calcio.ttf); /* Путь к файлу со шрифтом */
   }
   @font-face {
    font-family: Calama; /* Гарнитура шрифта */
    src: url(../../Fonts/Calama.ttf); /* Путь к файлу со шрифтом */
   }
body{
    background-color:rgb(247, 245, 241);
    background-image: url(../IMGGaleriaWatercolor/background.png);
    padding: 0;
    margin: 0;
    height: 100%;
	
}

