<!DOCTYPE html>
<html>
    <% 
    var data = {
      title: "ProstoPortrait"
    };
%>
${  _.template(require('./../includes/head.html'))(data) }
<body>
  <!--menu-->
  ${require('./../includes/menu.html')}
  <!--navigation-->
  ${require('./../includes/navigation.html')}
  <!--view-->
  ${require('./../includes/about.html')}  
  <!--social-->
  ${require('./../includes/socialLinks.html')}    
  <!--reviewsForm-->
  ${require('./../includes/reviewsForm.html')}
  <!--reviewsForm-->
  ${require('./../includes/reviews.html')}
  <!--footer-->
  ${require('./../includes/footer.html')}
  <!--scripts-->
  ${require('./../includes/scripts/scripts.html')}
</body>
</html>
