
@font-face {
    font-family: bahnschrift; /* Гарнитура шрифта */
    src: url(../../Fonts/bahnschrift.ttf); /* Путь к файлу со шрифтом */
   }
  
@font-face {
    font-family: TuesdayNight-Regular; /* Гарнитура шрифта */
    src: url(../../Fonts/TuesdayNight-Regular.otf); /* Путь к файлу со шрифтом */
   }
html {
    font-size: 14px;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    min-width: 300px;
    overflow-x: hidden;
    overflow-y: scroll;
    text-rendering: optimizeLegibility;
}
body {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    background-color:#ffffff;
    background-image: url(../img/backgroundGray.png);
    padding: 0;
    margin: 0;
    height: 100%;
	font-family:bahnschrift;
}

