
@font-face {
    font-family: bahnschrift; /* Гарнитура шрифта */
    src: url(../../Fonts/bahnschrift.ttf); /* Путь к файлу со шрифтом */
   }
  

 @font-face {
	font-family: TuesdayNight-Regular; /* Гарнитура шрифта */
	src: url(../../Fonts/TuesdayNight-Regular.otf); /* Путь к файлу со шрифтом */
 }
 
body{
    background-color:#f5f5f5;
    background-image: url(../images/backgroundGray.png);
    padding: 0;
    margin: 0 0 0 0;
    height: 100%;
    font-family: bahnschrift;
	
}

