.headerMain {
  	position:fixed;
  	width:100%;
	background-color: #ffffff;
	z-index: 4;
	opacity: 0.9;
	text-align: center;
	margin: 0;
	padding: 0;
}
.mark {
	font-weight: 400;
}
.nav {
	list-style: none;
	margin: 0 ;
	padding: 0;
	position: relative;
	width:100%;
	
}
.nav li {
	float: left;
	width:31.3%;
	display: block;
	position: relative;
  text-decoration: none;
  color: #000000;
	padding: 1%;
	font-size: 18px;
	text-align: center;
}
.nav li:nth-child(3){
	font-size: 14px;
}
.mainmenubtn {
	width: 20px;
	color: white;
	border: none;
	cursor: pointer;
}
.dropdown {
	position: relative;
	display: inline-block;
}
.dropdown-child {
	display: none;
	background-color: #ffffff;
	min-width: 100px;
}
.dropdown-child a {
	color: #000000;
	padding:20px;
	text-decoration: none;
	display: block;
}
.dropdown:hover .dropdown-child {
	display: block;
}
.dropdown-child a:hover {
  background-color:#ffcda9;
}


