.f2{
float: right;	

	margin-right: 5%;

}

.navigation{
	float: right;
	margin-top:15%;
	margin-right: 5%;
	padding: 5% 0% 5% 0%;
	width:50%;
	height:100%;
	/*background-color: #fff2ee;*/
    border-top: 3px solid #ffffff;
	border-bottom: 3px solid #ffffff;
    z-index: 2;
}

.namemenu{
text-align: center;
font-family:WaverlyCF-Medium;
}

.menu{
	margin: auto;
	display: block;
	position: relative;
	width:100%;
	height:100%;
}

.name{
	
	width: 14%;
	height:5%;
	top:2%;
	left:42%;
	
}

.icons{
	

	display: flex;
  flex-direction:column;
	align-items:center;
	justify-content: space-around;
	z-index: 3;
}


.grapfic,.computerGrapfic,.watercolor{
	

	width: 170px;
	height: 170px;
	
	
}

.watercolor:hover{
	background: #fdfcce;
	border-radius: 100%;
	width: 170px;
	height:170px;
}

.grapfic:hover{
	background: #fdfcce;
	border-radius: 100%;
	width: 170px;
	height:170px;
	animation: loader 2s infinite ease-in-out;
}

.computerGrapfic:hover{
	background: #fdfcce;
	border-radius: 100%;
	width: 170px;
	height: 170px;
}


	@media screen and (min-width:800px) {
		.icons{
		  display: flex;
		}
		}
@media screen and (min-width: 800px) {
	.icons {
	  flex-direction: row;

	}

		
		@media screen and (min-width:600px) {
		.grapfic, .computerGrapfic, .watercolor{
		
		
	width: 170px;
	height: 170px;
	
			}
		}
	
