.number{
  text-align: right;
 
  
}
.mtc{
  padding: 15px 5px 0px 0;
  height:30px;
 
  opacity: 0.8;
}
.numbers{
   padding: 5px 20px 5px 0;
   font-stretch: ultra-condensed;
	 font-family:WaverlyCF-Medium;
   text-shadow: 0 1px 1px rgba(37, 101, 167, 0.47);
   color: rgb(32, 31, 31);
   font-size: 14px;
   font-weight: 400;
   line-height: 18px;
}
.preview1{
    position: absolute;
}
.preview2{
margin-top: 5%;
height:40%;
width: 40%;
z-index: 1;
}

.logo{
 float: right;
  margin-top:8%; 
  margin-right:25%;
  font-weight: 400;
 
  z-index: 2;
 

}

.prosto{
color:#cb3634; 
font-size: 70px; 
/*font-family:Calcio;*/
font-stretch: ultra-condensed;
font-family:WaverlyCF-Medium;
text-shadow: 5px 5px 0px #1c3338, 7px 7px 0px  #213c42;

}

.portrait{
  margin-left:103px; 
  font-size: 70px; 
  color:#ffff;
 /*font-family:Calcio;*/
font-stretch: ultra-condensed;
font-family:WaverlyCF-Medium;
text-shadow: 5px 5px 0px #1c3338, 7px 7px 0px  #213c42;
}


.go{
  font-size: 20px; 
  color:rgb(29, 28, 28);
  padding: 7px 30px 10px 40px;
  /*font-stretch: ultra-condensed;*/
  font-family: WaverlyCF-Medium;
  text-shadow: 0 1px 1px #1c3338;
  background-color: #213c42;
  /*font-stretch: ultra-condensed;
  font-family:Calama;*/
  border-radius: 5px;
  border:2px solid #ffff; 
}

.go:hover{
  font-size: 20px; 
  color:rgb(29, 28, 28);
  padding: 7px 30px 10px 40px;
  /*font-stretch: ultra-condensed;*/
  font-family: WaverlyCF-Medium;
  text-shadow: 0 1px 1px #1c3338;
  background-color: #fadd97;
  /*font-stretch: ultra-condensed;
  font-family:Calama;*/
  border-radius: 5px;
  border:2px solid #ffff; 
}
.hard_text{
  font-size: 30px; 
  /*padding: 0 10px 10px 10px;*/
  font-family: WaverlyCF-Medium;
  font-weight: bolder;
 /* background: radial-gradient(white, #FFA9A1)
  
  /*background-color: #d3c4be;
  background: radial-gradient(rgb(194, 189, 189), #867b77);
  color:#cb3634;*/
  /*font-stretch: ultra-condensed;
  font-family:Calama;*/
  
}
.galeria_bottom{
 
  width: 660px;
  margin: 10px auto;
}

.alternate ul {
  padding: 0;
  list-style: none;
  margin-top: 10px;
  margin-left: 40px;
}
.animation {
    display: inline-block;
    width: 50px;
    height: 50px;
    
    /*margin-right: 10px; */
    box-shadow: 1px 1px 2px rgba(0,0,0,.3);
  }
  .animation:nth-child(1) {background: #5c504c}
  .animation:nth-child(2) {background:#fadd97}
  .animation:nth-child(3) {background:#ffff}

  .animation:hover {
    width: 70px;
    height: 70px;}

  
  .alternate li {
    -webkit-animation: shake .7s linear alternate infinite;
    animation: shake .7s linear alternate infinite;
  }
  .alternate-reverse li {
    -webkit-animation: shake 0.7s linear alternate-reverse infinite;
    animation: shake 0.7s linear alternate-reverse infinite;
  }
  .normal li {
    -webkit-animation: shake 0.7s linear normal infinite;
    animation: shake 0.7s linear normal infinite;
  }
  .reverse li {
    -webkit-animation: shake 0.7s linear reverse infinite;
    animation: shake 0.7s linear reverse infinite;
  }
  @-webkit-keyframes shake {
    100% {
      -webkit-transform: translateX(-30px);    
    }
  }
  @keyframes shake {
    100% {
      transform: translateX(-30px);    
    }
  }





*{box-sizing:border-box}
.loader1{
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
@keyframes loader {
  0% {transform:rotate(-45deg)}
  50%{transform:rotate(-135deg)}
  100%{transform:rotate(-225deg)}}
@keyframes span-1 {
  0% {transform:translate(0);}
  50%{transform:translate(-50px, 0);border-color:#EE4D68}
  100%{transform:translate(0);}}
@keyframes span-2 {
  0%{transform:translate(0);}
  50%{transform:translate(50px, 0);border-color:#875678}
  100%{transform:translate(0);}}
@keyframes span-3 {
  0%{transform:translate(0);}
  50%{transform:translate(0, -50px);border-color:#FF9900}
  100%{transform:translate(0);}}
@keyframes span-4 {
  0%{transform:translate(0);}
  50%{transform:translate(0, 50px);border-color:#00E4F6}
  100%{transform:translate(0);}}
.loader {
  width: 50px;
  height: 50px;
  position: relative;
  animation: loader 2s infinite ease-in-out;
  border-radius: 100px;
}
.loader span {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 0;
  top: 0;
  border: 4px solid #0B1B48;
  border-radius: 100px;
}
.loader span:nth-child(1) {
  animation: span-1 2s ease-in-out infinite;
}
.loader span:nth-child(2) {
  animation: span-2 2s ease-in-out infinite;
}
.loader span:nth-child(3) {
  animation: span-3 2s ease-in-out infinite;
}
.loader span:nth-child(4) {
  animation: span-4 2s ease-in-out infinite;
}


.information{
  background-color: #ded4b7;
  background-image: url(../img/fon.png);
  margin-top: 80px;
  width:100%;
  box-shadow: inset 0 10px 20px #423e3e;
  padding: 3%;
}

.triangle{
  width:100%;
}
.table{
  margin: 0 0 0 0;
}
 ul#table li{
  list-style: none;
  display: inline-block;
  vertical-align: top;
  width: 300px;
  margin-right:70px;
  
}

ul#table li > div {
  display: inline-block;
  vertical-align: top;
}

 ul li{
  text-shadow: 0 1px 1px rgba(37, 101, 167, 0.47);
  color: rgb(32, 31, 31);
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.icon_livicon_shadowed{
  width: 60px;
  height: 60px;
  float:left; /* Выравнивание по левому краю */
  margin: 7px 7px 7px 0;
}
.txtr {
  /*width: 250px;*/
}
h4{
  text-align: center;
  margin-bottom: 2px;
}
.something{
  background-color: #2d525b;
  background-image: url(../img/background.png);
  margin-top: 0px;
  box-shadow: inset 0px 10px  20px #2e2c2b;
  
  width:100%;
  height: 150px;
}
.footer{
  background-color: #2d525b;
  background-image: url(../img/background.png);
  padding: 0;
  box-shadow: inset 0px 10px  20px #2e2c2b;
  margin-top: 0px;
  
}


.goodbye{
  width:400px;
  padding: 50px;
  color: #ffff;
  text-shadow: 0 1px 1px #ffe390;
}

.massagers{
  position: absolute; 
  margin-top: 300px;
  right: 10px;
  
  
}
.vk,.inst,.fb{
  margin: 10px 0 20px 0;
  height:52px;
	width:52px;
 	
}


.vk:hover,.inst:hover,.fb:hover {
 
  height:62px;
  border-radius: 20%;
  background-color: #cb3634;
}


.massagers_white{
  /*position: absolute; 
  margin-top: 50px;*/
  right: 10px;
  list-style:none ;
  text-decoration: none;
  
  
}

.vk_white,.inst_white,.fb_white {
  margin: 10px 20px 20px 0;
  height:52px;
	width:52px;
 
}

