html {
    background: #f2f2f2;
  }
  
  .scrollport {
      width: 600px;
      margin: 0 auto;
      overflow: auto;
    white-space: nowrap;
    scroll-snap-type: x mandatory;
  }
  
  img {
    scroll-snap-align: center;
  }